<h1>Hero Corps</h1>


  <p>  Hi <%= @user.name %>, </p>

<p>
  Thank you for registering with the Hero Corps! Click the link below to confirm your account and start making a difference!
</p>

  <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
