<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
     | <%= link_to "Delete", {:controller => "users", :action => "destroy", :id => user.id, :page => params[:page]}, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <br />
  <%= user.email %>
</li>
