@import 'bootstrap-sprockets';
@import 'bootstrap';

// variables, mixins, etc

$gray-medium: #eaeaea;

@mixin boxSizing
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -mz-box-sizing: border-box;
}

/* universal */
body
{
    padding: 0;
}

section
{
    overflow: auto;
}

textarea
{
    resize: vertical;
}

.center
{
    text-align: center;

    h1
    {
        margin-bottom: 10px;
    }
}

#navbar
{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 5% 0 5%;
}

// typography

h1,
h2,
h3,
h4,
h5,
h6
{
    line-height: 1;
}

h1
{
    font-size: 3em;

    margin-bottom: 30px;

    text-align: center;
    letter-spacing: -2px;
}

h2
{
    font-size: 2em;
    font-weight: normal;

    margin-bottom: 30px;

    text-align: center;
    letter-spacing: -1px;

    color: $gray-light;
}

p
{
    font-size: 1.1em;
    line-height: 1.7em;
}

// header

#logo
{
    font-size: 1.7em;
    font-weight: bold;

    float: left;

    margin-right: 10px;
    padding-top: 9px;

    letter-spacing: -1px;
    text-transform: uppercase;

    color: white;

    &:hover
    {
        text-decoration: none;

        color: white;
    }
}

// footer
footer
{
    margin-top: 35px;
    padding-top: 5px;

    color: $gray-light;
    border-top: 1px solid $gray-medium;

    a
    {
        color: $gray;
    }

    &:hover
    {
        color: $gray-darker;
    }

    small
    {
        float: left;
    }

    ul
    {
        float: right;

        list-style: none;

        li
        {
            float: left;

            margin-left: 15px;
        }
    }
}

// Misc

.debug_dump
{
    float: left;
    clear: both;

    width: 100%;
    margin-top: 45px;

    @include boxSizing;
}

// Sidebar

aside
{
    section.user_info
    {
        margin-top: 20px;
    }
    section
    {
        margin: 20px 0 0 0;
        padding: 10px 0;
        &:first_child
        {
            padding-top: 0;

            border: 0;
        }
        span
        {
            line-height: 1;

            display: block;

            margin-bottom: 3px;
        }
        h1
        {
            font-size: 1.4em;

            margin-top: 0;
            margin-bottom: 3px;

            text-align: left;
            letter-spacing: -1px;
        }
    }
}

.gravatar
{
    float: left;

    margin-right: 10px;
}

.gravatar_edit
{
    margin-top: 15px;
}

// FORM STYLING

input,
textarea,
select,
.uneditable-input
{
    width: 100%;
    margin-bottom: 15px;

    border: 1px solid #bbb;

    @include boxSizing;
}

input
{
    height: auto !important;
    padding: 3px 5px;
    &:focus
    {
        outline: none;
    }
}

#error_explanation
{
    color: red;
    ul
    {
        margin: 0 0 30px 0;

        color: red;
    }
}

.field_with_errors
{
    @extend .has-error;
    .form-control
    {
        color: $state-danger-text;
    }
}
